/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$black:                 #000000;
$white:                 #ffffff;
$darkGrey:              #333333;
$lightGrey:             #BBBBBB;
$lighterGrey:           #EEEEEE;

$red:                   #f53043;
$blue:                  #2adae3;
$yellow:                #fbd505;

$text-color:            $darkGrey;
$header-color:          $blue;
$link-color:            $red;

