<tr>
    <td class="features__header col-12" width="100%" valign="top" align="left">
        {{ site.data.[site.data.global.lang].features__header }}
    </td>
</tr>
<tr>
    <td class="table__columns-wrapper" width="100%" valign="top" align="left">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="col-4" valign="top" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%" valign="top" align="left">
                                <img class="image--full-width" src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].feature-sass-img }}" alt="{{ site.data.[site.data.global.lang].feature-sass-img-alt }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="features__text" width="100%" valign="top" align="left">{{ site.data.[site.data.global.lang].feature--sass__text }}</td>
                        </tr>
                    </table>
                </td>
                <td class="gutter" align="left">
                    &nbsp;
                </td>
                <td class="col-4" valign="top" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%" valign="top" align="left">
                                <img class="image--full-width" src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].feature-var-img }}" alt="{{ site.data.[site.data.global.lang].feature-var-img-alt }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="features__text" width="100%" valign="top" align="left">{{ site.data.[site.data.global.lang].feature--vars__text }}</td>
                        </tr>
                    </table>
                </td>
                <td class="gutter" align="left">
                    &nbsp;
                </td>
                <td class="col-4" valign="top" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%" valign="top" align="left">
                                <img class="image--full-width" src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].feature-grid-img }}" alt="{{ site.data.[site.data.global.lang].feature-grid-img-alt }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="features__text" width="100%" valign="top" align="left">{{ site.data.[site.data.global.lang].feature--grid__text }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="table__columns-wrapper" width="100%" valign="top" align="left">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="col-4" valign="top" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%" valign="top" align="left">
                                <img class="image--full-width" src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].feature-modular-img }}" alt="{{ site.data.[site.data.global.lang].feature-modular-img-alt }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="features__text" width="100%" valign="top" align="left">{{ site.data.[site.data.global.lang].feature--modular__text }}</td>
                        </tr>
                    </table>
                </td>
                <td class="gutter" align="left">
                    &nbsp;
                </td>
                <td class="col-4" valign="top" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%" valign="top" align="left">
                                <img class="image--full-width" src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].feature-upload-img }}" alt="{{ site.data.[site.data.global.lang].feature-upload-img-alt }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="features__text" width="100%" valign="top" align="left">{{ site.data.[site.data.global.lang].feature--upload__text }}</td>
                        </tr>
                    </table>
                </td>
                <td class="gutter" align="left">
                    &nbsp;
                </td>
                <td class="col-4" valign="top" align="left">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%" valign="top" align="left">
                                <img class="image--full-width" src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].feature-test-img }}" alt="{{ site.data.[site.data.global.lang].feature-test-img-alt }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="features__text" width="100%" valign="top" align="left">{{ site.data.[site.data.global.lang].feature--test__text }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
