<div class="video-wrap">
    <video class="video" autoplay="autoplay"loop="loop" style="display: none;">
        <source src="{{ site.data.global.video-path }}{{ site.data.[site.data.global.lang].video }}" type="video/mp4">
    </video>
    <div class="overlay">
        <table>
            <tr>
                <td>
                    <img src="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].video-block-content }}" class="image--full-width" alt="{{ site.data.global.img-path }}{{ site.data.[site.data.global.lang].video-block-content-alt }}">
                </td>
            </tr>
        </table>
    </div>
</div>
