@media screen and (-webkit-min-device-pixel-ratio: 0) {
     div[class="video-wrap"]{
         height: auto;
         width: 100%;
         position: relative;
         overflow: hidden;
         padding:0;
         margin:0;
     }
 }
 @media screen and (-webkit-min-device-pixel-ratio: 0) {
     video[class="video"]{
         min-height: 100%;
         min-width: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         display:inline-block !important;
     }
 }
 @media screen and (-webkit-min-device-pixel-ratio: 0) {
     div[class="overlay"]{
         height: 100%;
         min-height: 100%;
         position: relative;
         margin: 0 auto;
         padding: 0 20px;
         z-index:3;
     }
 }
/* iPAD MEDIA QUERY */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    video[class="video"]{display: none !important;z-index:-1;}
}

/* iPAD 1 & 2, iPAD MINI MEDIA QUERY */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    video[class="video"]{display: none !important;z-index:-1;}
}

/* RETINA iPAD MEDIA QUERY */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    video[class="video"]{display: none !important;z-index:-1;}
}

/* iPHONE 5 MEDIA QUERY */
@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1){
    video[class="video"]{display: none !important;z-index:-1;}
}

/* iPHONE 5S MEDIA QUERY */
@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2){
    video[class="video"]{display: none !important;z-index:-1;}
}

/* iPHONE 2G/3G/3GS MEDIA QUERY */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1){
    video[class="video"]{display: none !important;z-index:-1;}
}

/* iPHONE 4/4S MEDIA QUERY */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    video[class="video"]{display: none !important;z-index:-1;}
}
