<tr>
    <td class="intro__header col-12" width="100%" valign="top" align="left">
        {{ site.data.[site.data.global.lang].intro__header }}
    </td>
</tr>
<tr>
    <td class="intro__sub-header col-12" width="100%" valign="top" align="left">
        {{ site.data.[site.data.global.lang].intro__sub-header }}
    </td>
</tr>
<tr>
    <td class="intro__copy blue col-12" width="100%" valign="top" align="left">
        {{ site.data.[site.data.global.lang].intro__text--p-1}}
    </td>
</tr>
<!-- <tr>
    <td class="intro__copy col-12" width="100%" valign="top" align="left">
        {{ site.data.[site.data.global.lang].intro__text--p-2 }}
    </td>
</tr> -->
