<div class="video-wrap">
    <video class="video" autoplay="autoplay"loop="loop" style="display: none;">
        <source src="http://klanten.kunstmaan.be/grunt-email-templates/Muffin/muffin.m4v" type="video/mp4">
    </video>
    <div class="overlay">
        <table>
            <tr>
                <td>
                    <img src="http://klanten.kunstmaan.be/grunt-email-templates/Muffin/video-content.png" class="image--full-width" alt="">
                </td>
            </tr>
        </table>
    </div>
</div>
