.gutter {
    width: $gutter-width;
}
.col-12 {
    width: $mail-width;
}
.col-11 {
    width: $mail-width - (($mail-width - ($gutter-width*11)) / 12);
}
.col-10 {
    width: ((($mail-width - ($gutter-width*3) ) / 4) + (($mail-width - ($gutter-width*5) ) / 6)) + ((($mail-width - ($gutter-width*3) ) / 4) + (($mail-width - ($gutter-width*5) ) / 6));
}
.col-9 {
    width: ((($mail-width - ($gutter-width*2) ) / 3) + (($mail-width - ($gutter-width*2) ) / 3)) + (($mail-width - ($gutter-width*11) ) / 12);
}
.col-8 {
    width: (($mail-width - ($gutter-width*2) ) / 3) + (($mail-width - ($gutter-width*2) ) / 3);
}
.col-7 {
    width: (($mail-width - ($gutter-width*3) ) / 4) + (($mail-width - ($gutter-width*2) ) / 3);
}
.col-6 {
    width: ($mail-width - $gutter-width) / 2;
}
.col-5 {
    width: (($mail-width - ($gutter-width*3) ) / 4) + (($mail-width - ($gutter-width*5) ) / 6);
}
.col-4 {
    width: ($mail-width - ($gutter-width*2) ) / 3;
}
.col-3 {
    width: ($mail-width - ($gutter-width*3) ) / 4;
}
.col-2 {
    width: ($mail-width - ($gutter-width*5) ) / 6;
}
.col-1 {
    width: ($mail-width - ($gutter-width*11) ) / 12;
}
