/* ==========================================================================
   Main setup

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

//Scaffolding

$mail-width:                 640px; // Use the same value as in the global.yml file in the data folder. Set the media query width to this value in _includes/head.html
$gutter-width:               10px;

//Typography

$arial:                      Arial,Helvetica,sans-serif;
$helvetica:                  Helvetica,Arial,sans-serif;

$baseFontFamily:             $arial;

$baseFontSize:               15px;
$baseLineHeight:             23px;

$baseFontColor:              $black;

//Vertical flow: whitespace of all blocks
$blockSpacerHeight:          30px;
$blockSpacerWidth:           30px;
