.videowrapper--td {
    background-color: #2adae3;
    background-image: url('http://klanten.kunstmaan.be/grunt-email-templates/Muffin/video-fallback.png') top center no-repeat;
    background-size: cover;

}
.videowrapper {
    background: #2adae3;
}
