.about {
    background: $white;
    border-bottom: 1px solid $lighterGrey;
    .about__copy {
        color: $lightGrey;
        font-size: 18px;
        line-height: 32px;
        .highlight {
            color: $red;
            font-size: inherit;
            font-weight: bold;
        }
    }
}
