.convinced {
    background: $darkGrey;
}
.convinced__header {
    font-size: 30px;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.convinced__download {
    text-align: center;
}
