.sub-header {
    background: #1496a6;
    text-align: center;
    .table__container--padded {
        .col-12 {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: normal;
            color: $white;
            text-align: right;
        }
    }
}
